@import "reset.css";

.line { clear: both; height: 5px; background-color: #eee; }
.post-line { clear: both; border-bottom: 1px solid #eee; margin: 40px 0; }

#wrap { width: 960px; margin: 0 auto; text-align: center; }
body { background: url(../img/mainbg.png); color: #555555; line-height: 22px; font-family: Arial; font-size: 12px; text-align: center;  }
h1 { font-size: 60px; margin: 35px 0 25px 0; }
h2 { font-size: 22px; margin: 30px 0 15px 0; }
h3 { font-size: 24px; margin: 30px 0 15px 0; }
h4 { font-size: 18px; margin: 25px 0 10px 0; }
h5 { font-size: 16px; margin: 20px 0 5px 0; }
h6 { font-size: 14px; margin: 10px 0 0 0; }
a:link, a:visited { color: #0072bc; text-decoration: none; }
a:hover, a:active { color: #555555; }
p { font-size: 14px; margin-bottom: 15px; }
.title { margin-top: 0; }
em { font-style: italic; }
#main { clear: both; padding: 10px 0 0 0; }
#content { float: left; width: 100%; padding: 0 100px 60px 2px; text-align: center; }
#sidebar { float: left; width: 288px; text-align: left; }

#header { padding: 70px 0 40px 0; overflow: hidden; }
#header h1 { font-size: 45px; color: #444; letter-spacing: -3px; font-weight: bold; margin: 20px 0 0 0; padding: 0; }
#header h1 a{ color: #444;}
#header h2 { color: #aaa; margin: 15px 0 0 0; padding: 0; font-size: 30px; letter-spacing: -1px; }
#header .line { margin: 30px 0 0 0; }
.subtitle { margin: 0 0 14px 0; }


#frontpage-content { clear: both; margin: 0 75px; width: 810px; overflow: hidden; }
#frontpage-intro {  background-color: #f5f5f5; border: 2px #e5e5e5 solid; padding: 20px; text-align: left; }
#frontpage-intro p { font-size: 18px; color: #888; margin: 0; line-height: 26px; }
#frontpage-intro p span { color: #555; }

#reporter-content { background-color: #f5f5f5; border: 2px #e5e5e5 solid; padding: 20px; text-align: left; }
#reporter-content p { font-size: 18px; color: #555; margin: 0; line-height: 26px; }
#reporter-content  p span {font-size:  18px; color: blue; margin: 0; line-height: 26px; }

#footer { clear: both; border-top: 5px #eee solid; margin: 20px 0 40px 0; color: #bbb; text-align: center; }
#footer p { font-size: 18px; margin: 10px 0 0 0; }

a.info{
	width: 150px;
	height: 50px;
    background: -moz-linear-gradient(#6C8CD5, #1240AB);
    padding: 3px 7px;
    color: #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}